@media (max-width: 1141px) {
    .container {
        width: 90%;
        
    }
    .card{
        margin-top: 30px;
    }
    
}

 @media (max-width: 800px) {
    .textbox {
        flex-direction: column;
    }
    .txtareadiv {
        margin-bottom: 25px;
    }
    .f1 {
        max-width: 800px;
        width: 100%;
    }
    .flex{
        flex-direction: column;
        align-items: center;
    }
}

 


@media (max-width: 750px){
    .flex2 img{
        margin-top: 20px; }
        
        
    }
    @media (max-width: 655px) {
        .flex3 {
            justify-content: center;
        }
    }
    @media (max-width: 450px){
        .flex2 img{
            margin-top: 100px; }
            
            
        }
    