.container{
    max-width: 1160px;
    width: 100%;
    margin: auto;
}

.container h2{
    display: block;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    width: 64px;
    height: 20px;
    margin-top: 57px;
    margin-left: 40px;

    color: #5863E3;
}
.container h3{
    font-family: Helvetica;
    font-size: 49px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

}
.free{
    margin-top: 7px;
    margin-left: 40px;
    margin-bottom: 57px;
    max-width: 371px;
    width: 100%;
    height: 112px;
    top: 84px;
    left: 100px;
}
.myform{
    margin-left: 40px;
    width: 100%;
    margin-bottom: 50px;
}

.textbox{
  display: flex;

}
.txtareadiv{
    height: 300px;
    max-width:756px;
    width: 100%;
}
.txtarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px solid rgba(212, 211, 211, 0.3);
    background: #f8f8f8;
    outline: none;
    padding: 23px 21px;
    font-size: 14px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form1{
    margin-left: 20px;
}
.f1{
    margin-left: 20px;
    height: 300px;
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
input[type=text] {
    margin-bottom: 20px;
    border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        border: 2px solid skyblue;
}
input[type=submit]{
    cursor: pointer;
    color: white;
    background-color:#5968F4;
}
input[type=submit]:hover {
    background-color: blue;
  }

  input{
    width: 100%;
    height: 60px;
  }



  /* section 1 end */


.s-1{
    margin-top: 70px;
    margin-bottom: 70px;
}

  .flex{
    display: flex;
  }
  .card{
    width: 230px;
    height: 180px;
  }
  .logo{
    position: relative;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5968F4;
  }
  .env{
    position: absolute;
    width: 55px;
    height: 55px;
    top: 7px;
    left: 7px;
  }
 .txt{
    margin-left: 85px;
    margin-top: 16px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    

 }
 .flex{
    justify-content: space-evenly;
 }
 .env1{
    margin-left: 22px;
    margin-top: 16px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;


 }
 .env2{
    margin-top: 8px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
 }
 .pho{
    position: absolute;
    width: 51px;
    height: 41px;
    top: 14px;
    left: 10px;
 }
 .dot{
    position: absolute;
    width: 51px;
    height: 41px;
    top: 14px;
    left: 10px;
 }
 .ph1{
    margin-left: 55px;
    margin-top: 16px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;

 }
 .ph2{
    margin-left: 55px;
    margin-top: 8px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
 }
 .loc1{
    margin-left: 30px;
    margin-top: 16px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
 }
 .loc2{
    margin-left: 20px;
    margin-top: 8px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
 }





 /* Section 2 End */




 .div0{
    margin-bottom: 53px;
 }



.h5{
    margin-left: 40px;
    margin-bottom: 7px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #5863E3;
}
.h6{
    margin-left: 40px;
    max-width: 548px;
    height: 112px;
    font-family: Helvetica;
    font-size: 49px;
    font-weight: 400;
    line-height: 56px;
}
.h0{
    width: 100%;
}

/* shua Div */



.flex2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 100px;
}



/* Footeris dasawyisi */





footer{
    padding: 70px 0;
    background-color: black;
}
.div1{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 370px;
}
.Hotel{
    margin-left: 40px;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
    color: white;

}
.p1{
    margin-top: 23px;
    margin-left: 40px;
    width: 240px;
    height: 80px;
    color:#99999A;
}
.img0{
    width: 46px;
    height: 46px;
}
.img3{
    margin-top: 27px;
    margin-left: 40px;
    width: 50px;
    height: 50px;
}
.div2{
    width: 150px;
    height: 170px;
    display: inline-block;
    position: relative;
}
.h7{
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;

    color: white;
}
.li0 {
    margin-top: 32px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #5863E3;

}
.li1{
    margin-top: 9px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #5863E3;
}
.div3{
    position: relative;
    width: 150px;
    height: 170px;
    display: inline-block;
    position: relative;
}
.div4{
    position: relative;
    width: 150px;
    height: 170px;
    display: inline-block;
    position: relative;
}

.h8{
    margin-top: 19px;
    color: white;
}
.h9{
    display: inline-block;
    color: white;
}
.flex3{
    max-width: 1141px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}